- name: Installing Mysql With Docker
  hosts: database
  remote_user: deploy
  become: true
  roles:
    - docker-installation
  tasks:
    - name: Start MySQL Container
      docker_container:
        name: db
        image: "mysql:5.7"
        command: "--default-authentication-plugin=mysql_native_password"
        env:
          MYSQL_DATABASE: "microblog"
          MYSQL_USER: "microblog"
          MYSQL_PASSWORD: "G5Evdo1IqgVNl51"
          MYSQL_ROOT_PASSWORD: "G5Evdo1IqgVNl51"
        volumes:
          - mysql_data:/var/lib/mysql
        restart_policy: always
        published_ports:
          - "3306:3306"
