name: Publish Docker

on:
  workflow_call:
    secrets:
      username:
        required: true
      password:
        required: true
  workflow_dispatch:

jobs:
  tests:
    uses: ./.github/workflows/AppTest.yml
  publish-docker:
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}

      - name: Extract the version tag from release
        run: echo "VERSION=$(echo ${{ github.event.release.tag_name }} | sed 's/^v//')" >> $GITHUB_ENV

      - name: Build and Push Docker Image Test
        run: |
          docker build -t kristinakalinchuk/microblog-test:${{ env.VERSION }} -f docker/Dockerfile_test .
          docker push kristinakalinchuk/microblog-test:${{ env.VERSION }}

      - name: Build and Push Docker Images Prod App
        run: |
          docker build -t kristinakalinchuk/microblog:${{ env.VERSION }} -f docker/Dockerfile_prod .
          docker push kristinakalinchuk/microblog:${{ env.VERSION }}
